<html>
    <head>
        <title>Nirranjan's blog</title>
    </head>
<body>
    <div>
        <h1><a href="/">Nirranjan's Blog</a></h1>
    </div>

    <div>
        <p>published: 21.12.2019, 19:45</p>
        <h2><a href="">My first post</a></h2>
        <p>My name is Nirranjan Akilan. I am a participant of the Google Code In competition and this is my blog.</p>
    </div>

    <div>
        <p>published: 21.12.2019, 19:45</p>
        <h2><a href="">My second post</a></h2>
        <p>Hello world. My name is Nirranjan Akilan. I am 17 years old and I go to Coppell High School.</p>
    </div>
</body>
</html>